{% extends "bakery/layout.html" %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block body %}

    <div id="about_page">
        <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-left: 10px;">About</h3>
        <p class="about-info">Our independent bakery was founded November 2020. We are a small business, but most importantly we are a small group of friends who had a dream.
            Back in our undergrad years, we had a tradition of going to a small bakery on campus every other Tuesday for lunch.
            The owners knew us by our third time there and by our sixth visit, since we knew the menu so well we were offered to work there part-time.
            Those years hold so much value for each one of us, it was a time of discovering who we are and learning about the world at a rate that was sometimes overwhelming.
            Now, 5 years later, we have grown and we have changed, yet our love for enjoying and making delicious homemade desserts did not go anywhere. 
            Our biggest desire is to make people around us happy and this endeavor was one way to do it. We appreciate your support and we hope that one of our desserts will also
            become someone's tradition and in the future will bring a sense of home.
        </p>
        <p class="about-ps">P.s: Our name and logo were created by incredibly talented Ella Yiu.</p>
    </div>

{% endblock %}