{% extends "bakery/layout.html" %}
{% load static %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block body %}

    <div id="product_page">
        <div class="product-info">
            <h2>{{product.title}}</h2>
            <p>{{product.price}} $</p>
            <p>{{product.size}}</p>
            {% if user.is_authenticated %}
            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="quantity-container">
                    <div class="action-row" aria-labelledby="itemQuantity">
                        <label class="label" id="itemQuantity">How many?</label>
                        <input aria-label="Quantity" type="number" id="quantity" name="quantity" value="1" min="1">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-warning">Add to Cart</button>
            </form>
            {% endif %}
            <p id="product-description">
                <div>Description:</div>
                {{product.description}}
            </p> 
            <p>
                <div>Ingredients:</div>
                {{product.ingredients}}
            </p>
            
        </div>
        <div>
            <img id="product-image" src="{{ product.image }}" alt="img">
        </div>
    </div>

{% endblock %}